<!DOCTYPE html>
<html>

<head>
    <title>웹시스템개발2: Report 1</title>
</head>

<body>
<form id="form6" action="/bord/all" method="get">
    <button style="width: 200px" type="submit">공지사항 글전체보기 (READ)</button>
</form>
<form id="form1" action="/bord/create" method="get">
    <button style="width: 200px" type="submit">공지사항 등록 (CREATE)</button>
</form>
<form id="form2" action="/bord/read" method="get">
    <button style="width: 200px" type="submit">공지사항 조회 (READ)</button>
</form>
<form id="form3" action="/bord/update" method="get">
    <button style="width: 200px" type="submit">공지사항 수정 (UPDATE)</button>
</form>
<form id="form4" action="/bord/delete" method="get">
    <button style="width: 200px" type="submit">공지사항 삭제 (DELETE)</button>
</form>
<form id="form5" action="/bord/uploads" method="get">
    <button style="width: 200px" type="submit">앨범 사진 업로드 (UPLOADS)</button>
</form>
</body>
</html>