<!DOCTYPE html>
<html>

<head>
    <title>게시판</title>
</head>

<body>

<form id="form5" action="/bord/all" method="get">
    <button style="width: 200px" type="submit">게시판 글 전체보기</button>
</form>
<form id="form1" action="/bord/create" method="get">
    <button style="width: 200px" type="submit">게시판 등록</button>
</form>
<form id="form2" action="/bord/read" method="get">
    <button style="width: 200px" type="submit">게시판 조회</button>
</form>
<form id="form3" action="/bord/update" method="get">
    <button style="width: 200px" type="submit">게시판 수정</button>
</form>
<form id="form4" action="/bord/delete" method="get">
    <button style="width: 200px" type="submit">게시판 삭제</button>
</form>

</body>
</html>