<!DOCTYPE html>
<html>

<head>
    <title>웹시스템개발2: Report 1</title>
</head>

<body>
    <form id="form" action="/bord/uid" method="post" enctype="application/x-www-form-urlencoded">
        공지사항 수정 (UPDATE)<br><br>
        <input style="width: 200px" type="text" name="id" placeholder="PostNumber" required /><br>
        <input style="width: 200px" type="text" name="title" placeholder="Title"/><br>
        <input style="width: 200px" type="text" name="content" placeholder="Content" /><br>

        <button style="width: 200px" type="submit">수정</button>
        <br>
    </form>
</body>
