<!DOCTYPE html>
<html>

<head>
    <title>게시판 수정</title>
</head>

<body>
    <form id="form" action="/bord/ubd" method="post" enctype="application/x-www-form-urlencoded">
        글 수정하기<br><br>
        <input style="width: 200px" type="text" name="id" placeholder="UserId" required /><br>
        <input style="width: 200px" type="text" name="content" placeholder="Content"/><br>
        <input style="width: 200px" type="text" name="img" placeholder="Img" /><br>

        <button style="width: 200px" type="submit">수정</button>
        <br>
    </form>
</body>
