<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
</head>

<body>


    <p>
        {% if user %}
            {% if user.description.startsWith('http') %}
                <img src="{{user.description}}" width="50" height="50">
            {% endif %}
            {{user.name}}님 환영합니다!<br>
            <a href="http://localhost:{{port}}/auth/logout">http://localhost:{{port}}/auth/logout</a>

            <p>
                Info page<br>
                <a href="http://localhost:{{port}}/users">http://localhost:{{port}}/users</a><br>
                <a href="http://localhost:{{port}}/comments">http://localhost:{{port}}/comments</a><br>
                <a href="http://localhost:{{port}}/data">http://localhost:{{port}}/data</a><br>
                <a href="http://localhost:{{port}}/products">http://localhost:{{port}}/products</a>
            </p>

            <p>
                User page<br>
                <a href="http://localhost:{{port}}/user">http://localhost:{{port}}/user</a><br>
            </p>

            <p>
                Comment page<br>
                <a href="http://localhost:{{port}}/comment">http://localhost:{{port}}/comment</a><br>
            </p>

            <p>
                Product page<br>
                <a href="http://localhost:{{port}}/product">http://localhost:{{port}}/product</a><br>
            </p>


        {% else %}
            <form id="form" action="auth/login" method="post">
                <input type="text" name="id" placeholder="ID" /><br>
                <input type="text" name="password" placeholder="Password" /><br>
                <button type="submit">로그인</button>
            </form>

            <br>
            <p>소셜로그인</p>
            <a href="http://localhost:{{port}}/auth/kakao">카카오소셜 로그인</a>
        {% endif %}
    </p>
</body>

</html>
