<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>파일 보내기</title>
</head>

<body>
    <section>
        <h1>공유된 파일 다운로드</h1>
        <div style="border: 5px solid black; padding: 10px">
            이 자리에 QR 코드
        </div>
        <p>
            <strong>
                이 자리에 URL 표시
            </strong>
        </p>

    </section>

    <section>
    </br></br>
        <form id="form1" action="" method="get">
            <button style="width: 200px" type="submit">링크 복사</button>
        </form></br>
        <form id="form2" action="../menu.html" method="get">
            <button style="width: 200px" type="submit">초기 화면으로</button>
        </form>
    </section>
</body>

</html>