<!DOCTYPE html>
<html>

<head>
    <title>게시판</title>
</head>

<body>

<form id="form5" action="/board/all" method="get">
    <button style="width: 200px" type="submit">게시판 글 전체보기</button>
</form>
<form id="form1" action="/board/create" method="get">
    <button style="width: 200px" type="submit">게시글 등록</button>
</form>
<form id="form2" action="/board/read" method="get">
    <button style="width: 200px" type="submit">게시글 조회</button>
</form>
<form id="form3" action="/board/update" method="get">
    <button style="width: 200px" type="submit">게시글 수정</button>
</form>
<form id="form4" action="/board/delete" method="get">
    <button style="width: 200px" type="submit">게시글 삭제</button>
</form>

</body>
</html>