<!DOCTYPE html>
<html>

<head>
    <title>게시판 수정</title>
</head>

<body>
    <form id="form" action="/board/ubd" method="post" enctype="application/x-www-form-urlencoded">
        글 수정하기<br><br>
        <label>
            <input style="width: 200px" type="text" name="num" placeholder="PostNumber" required />
        </label><br>
        <label>
            <input style="width: 200px" type="text" name="title" placeholder="Title"/>
        </label><br>
        <label>
            <input style="width: 200px" type="text" name="content" placeholder="Content" />
        </label><br>

        <button style="width: 200px" type="submit">수정</button>
        <br>
    </form>
</body>
</html>
