<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>파일 받기</title>
</head>

<body>
    <section>
        <h1>해당 파일</h1>
        <div style="border: 5px solid black; padding: 10px">
            이 자리에 파일 내용 표시
        </div>
    </section>

    <section>
    </br></br>
        <form id="form1" action="" method="get">
            <button style="width: 200px" type="submit">파일 다운로드</button>
        </form></br>
        <form id="form2" action="../main.html" method="get">
            <button style="width: 200px" type="submit">초기 화면으로</button>
        </form>
    </section>
</body>

</html>