<!DOCTYPE html>
<html>

<head>
    <title>설정</title>
</head>

<body>
    <section>
        <form id="form1" action="./complete.html" method="get">
            <button style="width: 200px" type="submit">짧은 좌표 사용</button>
        </form>
        <p>
            <strong>
                https://finalProject/123456
            </strong>
        </p></br>
    </section>

    <section>
        <form id="form2" action="./share2.html" method="get">
            <button style="width: 200px" type="submit">긴 좌표 사용</button>
        </form>
        <p>
            <strong>
                https://finalProject/[설정한 문자열]/123456
            </strong>
        </p></br>
    </section>
</body>

</html>