<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>웹시스템개발2: Report 1</title>
</head>

<body>
<form action="/users/cid"  enctype="multipart/form-data" id="form" method="post">
    사용자 정보 추가 (CREATE)<br><br>
    <label>
        <input style="width: 200px" type="text" name="id" placeholder="ID" required/><br>
        <input style="width: 200px" type="text" name="name" placeholder="Name"/><br>
        <input style="width: 200px" type="text" name="birth" placeholder="Birthday"/><br>
        <br>
        <input type="radio" name="gender" value="Man" checked/>Man
        <input type="radio" name="gender" value="Woman"/>Woman
        <br><br>
        <input style="width: 200px" type="file" accept="image/*" name="image"/>
    </label><br><br>
    <button style="width: 200px" type="submit">추가</button>
    <br>
</form>
</body>
</html>
