<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>FileDrop</title>
</head>
<body>
    <h1>메인페이지</h1>
        {% if user %}
            {% if user.description.startsWith('http') %}
            <img src="{{user.description}}" width="50" height="50">
            {% endif %}
        {{user.name}}님 환영합니다!<br>
        <a href="http://localhost:{{port}}/auth/logout">http://localhost:{{port}}/auth/logout</a>
        <form id="form1" action="menu.html" method="get">
            <button style="width: 200px" type="submit">메뉴 이동</button>
        </form>
        <form id="form3" action="/bord" method="get">
            <button style="width: 200px" type="submit">게시판</button>
        </form>
        {% else %}
            <form id="form2" action="auth/login" method="post">
                <input type="text" name="id" placeholder="ID" /><br>
                <input type="text" name="password" placeholder="Password" /><br>
                <button type="submit">로그인</button>
            </form>
            <form id="form3" action="auth/users/singup.html" method="get">
                <button style="width: 200px" type="submit">회원가입</button>
            </form>
    {% endif %}


</body>
</html>