<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: Step1</title>
</head>

<body>
    <h1>메인페이지</h1>
    <form id="form1" action="/users" method="get">
        <button style="width: 200px" type="submit">회원페이지</button>
    </form>
    <form id="form2" action="/bord" method="get">
        <button style="width: 200px" type="submit">게시판</button>
    </form>
    <form id="form3" action="/login" method="get">
        <button style="width: 200px" type="submit">로그인</button>
    </form>
</body>

</html>